@model IEnumerable<SP.DataAccess.Entities.Student>

@{
  ViewBag.Title = "Home Page";
}

<div class="m-4 text-center">
  <h2 class="display-4">Students list</h2>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th>
      @Html.DisplayNameFor(model => model.Title)
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody class="accordion" id="accordionExample">
  @foreach (var item in Model)
  {
    <tr>
      <th scope="row">@item.Id</th>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>

      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { data_toggle = "modal", data_target = $"#exampleModalCenter{item.Id}" })
      </td>

      <!-- Modal -->
      <div class="fade modal" id="exampleModalCenter@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              @($"Are you sure you want to delete `{item.Id}`?")
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal" type="button">No</button>

              @using (Html.BeginForm("Delete", "Home", new { id = item.Id }, FormMethod.Post))
              {
                @Html.AntiForgeryToken()

                <input class="btn btn-danger" type="submit" value="Yes"/>
              }

            </div>
          </div>
        </div>
      </div>

    </tr>
  }

  </tbody>
</table>

<div class="col-lg-9">
  @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>